{% load static %}
<!--Slider Start-->

<div class="main-slider wf100">
  <div id="home-slider" class="owl-carousel owl-theme">
    <!--Item Start-->
    <div class="item">
      <div class="slider-caption">
        <div class="container"> <strong>Borno State Government<br>
          </strong>
          <p>"Budget of Consolidation". </p>
          <p>2019 </p>
          <a href="documents/">GET DOCUMENTS</a>
        </div>
      </div>
      <img src="{% static "images/gallery/slider1.jpg" %}" alt="">
    </div>
    <!--Item End-->

  </div>
</div>
<!--Slider End-->